$primary_color: #1686FC;
$secondary_color: #CC34E4;
$white: #ffff;
$white_opacity: rgba(255, 255, 255, 0.8);
$black: #0A071B;
$gray_color: #A0AEC0;
$mat_black: #5B5675;
$linear_bg: linear-gradient(180deg, #3038F7 22.62%, rgba(136, 48, 247, 0) 97.82%);
$grey_text: #626262;