#sidebar {
    flex: 0 0 16%;
    background-color: lightgray;
    // height: 100%;
    padding: 4rem 2rem;

    .logo_blk {
        width: 17rem;
        height: auto;
        margin: 0 auto;
        margin-bottom: 6rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        background-color: #1686FC;
        border-radius: 10px;

        li {
            font-size: 1.7rem;
            height: 4rem;
            display: flex;
            // justify-content: center;
            align-items: center;
            // line-height: 2.4rem;
            font-weight: 600;
            margin-bottom: 3rem;
            margin-left: 1.5rem;
            color: white;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .new-item {
        display: flex;
        flex-direction: column;
        border: 2px solid #1686FC !important;
        background-color: transparent !important;
        margin-top: 680px;
        border-radius: 10px;
        cursor: pointer;

        .new-item-li {
            color: #000;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-left: -10px !important;
            margin-bottom: 0px !important;
        }
    }
}