@import "../../styles/commonStyle/variables.scss";

#ImagesState2V4 {
    margin: 10rem 0;

    .site_container {
        max-width: 128rem;
        width: 100%;

    }

    .inner {
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        // min-height: calc(100vh - 13rem);


        .text_blk {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 8rem;
                line-height: 100%;
                font-weight: 800;
                margin-bottom: 5rem;
            }

            span {
                font-size: 2.8rem;
                line-height: 3.4rem;
                color: $black;
                // margin-bottom: 1.2rem;
                font-weight: 800;
                display: block;
            }




            .card_blk {
                display: flex;
                // align-items: center;

                // overflow-x: auto;
                flex-wrap: wrap;
                margin-bottom: 6rem;
                gap: 1.5rem;
                padding: 4rem 2rem;
                border-radius: 1rem;


                &.drag_blk {
                    height: 24rem;
                }

                h4 {
                    font-weight: 800;
                    font-size: 2.8rem;
                    line-height: 3.3rem;
                    margin-right: 1.5rem;
                }

                p {
                    color: rgba(79, 94, 109, 1);
                    font-size: 1.6rem;
                    line-height: 2.1rem;
                    font-weight: 400;
                }

                .card {
                    flex: 0 0 20.1%;
                    // border: .3rem solid rgba(224, 224, 224, 1);                    
                    border-radius: .1rem;
                    border: .1rem solid rgba(215, 221, 228, 1);
                    position: relative;
                    height: 12rem;
                    background-color: #fff !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    // @media screen and (max-width: 767px) {
                    //     flex: 0 0 15%;
                    // }

                    // @media screen and (max-width: 500px) {
                    //     flex: 0 0 19%;
                    // }



                    .card_head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;

                        .count {
                            background-color: rgba(217, 217, 217, 1);
                            width: 3rem;
                            height: 3rem;
                            border-top-left-radius: .1rem;
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: .1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: rgba(0, 0, 0, 1);
                            font-size: 1.1rem;
                            line-height: 1.6rem;
                            font-weight: 500;
                        }

                        i {
                            padding: .5rem 1rem 0 0;
                            font-size: 1.2rem;
                            color: $black;
                            cursor: pointer;
                        }
                    }

                    .card_body {
                        // margin-top: .5rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;


                        .img_blk {
                            width: 4rem;
                            min-width: 4rem;
                            height: 4rem;
                            object-fit: contain;
                            overflow: hidden;
                            // margin-bottom: .5rem;
                        }


                        progress {
                            max-width: 7rem;
                            width: 100%;
                            // margin: 0 auto;
                            height: .5rem;
                            background-color: $primary_color;
                            // margin-bottom: 1.4rem;
                            margin-right: 0rem;
                            border-radius: 1.8rem;
                            overflow: hidden;
                        }


                        progress::-webkit-progress-bar {
                            background-color: #D9D9D9;
                        }

                        progress::-webkit-progress-value {
                            background-color: $primary_color;
                            border-radius: 1.8rem;
                            overflow: hidden;
                        }

                        .progress_value {
                            font-size: .6rem;
                            line-height: 1rem;
                            display: block;
                            margin-left: .5rem;
                        }


                    }
                }
            }

        }



    }

    .drag_file {
        // max-width: 79.9rem;
        width: 100%;
        border: .2rem dashed transparent;
        padding: 3rem 0;
        margin: 2.3rem auto 4.5rem;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // background-color: #FAFAFA;
        border-radius: 1rem;

        .img_blk {
            width: 6rem;
            min-width: 6rem;
            height: 6rem;
            margin: 0 auto;
            margin-bottom: 1.5rem;

            img {}
        }

        .drag_text {
            font-size: 2rem;
            line-height: 2.4rem;
            font-weight: 500;
            margin-bottom: 1rem;
            text-align: center;
        }



        .upload_btn {
            max-width: 22.6rem;
            width: 100%;
            margin: 0 auto;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4rem;
            color: rgba(255, 255, 255, 1);
            border: transparent;
            margin-top: 2rem;

            i {
                font-size: 1.2rem;
                margin-right: 1.2rem;
            }
        }

        .drag_card {
            flex: 0 0 9.1%;
            // border: .3rem solid rgba(224, 224, 224, 1);                    
            border-radius: .1rem;
            border: .1rem solid rgba(215, 221, 228, 1);
            position: relative;
            height: 12rem;
            background-color: #fff !important;
            display: flex;
            align-items: center;
            justify-content: center;

            // @media screen and (max-width: 767px) {
            //     flex: 0 0 15%;
            // }

            // @media screen and (max-width: 500px) {
            //     flex: 0 0 19%;
            // }



            .card_head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;

                .count {
                    background-color: rgba(217, 217, 217, 1);
                    width: 3rem;
                    height: 3rem;
                    border-top-left-radius: .1rem;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: .1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgba(0, 0, 0, 1);
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                    font-weight: 500;
                }

                i {
                    padding: .5rem 1rem 0 0;
                    font-size: 1.2rem;
                    color: $black;
                    cursor: pointer;
                }
            }

            .card_body {
                // margin-top: .5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // height: 100%;


                .img_blk {
                    width: 4rem;
                    min-width: 4rem;
                    height: 4rem;
                    object-fit: contain;
                    overflow: hidden;
                    margin-bottom: initial;
                }


            }
        }
    }

    .title {
        text-align: center;
        font-size: 2.8rem;
        line-height: 3.3rem;
        font-weight: 800;
        margin-bottom: .7rem;
    }

    .desc {
        max-width: 78rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.1rem;
        font-weight: 400;

    }

    .bottom {

        background-color: $white;
        z-index: 111;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 -4px 10px 0 rgba(239, 241, 242, 1);
        width: 100%;
        height: 9rem;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 4rem;

        .back_btn {
            border: .1rem solid $black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-weight: 500;
            width: 15rem;
            min-width: 15rem;
            height: 5rem;
            border-radius: 4rem;
            color: $black;

            i {
                color: $black;
                margin-right: 1.2rem;
                font-size: 1.2rem;
            }
        }

        .next_btn {
            max-width: 15rem;
            width: 100%;
            height: 5rem;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4rem;
            border: .1rem solid transparent;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-weight: 500;


            i {
                font-size: 1.2rem;
                margin-left: 1.2rem;
            }

        }
    }



    .question_btn {
        max-width: 18.4rem;
        width: 100%;
        // margin: 0 auto;
        border: .1rem solid transparent;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 2.1rem;
        border-radius: 4rem;
        color: #fff;
        margin-top: 3rem;

        i {
            margin-right: 1.2rem;
            font-size: 1.2rem;

        }
    }


}