#dashboard {
    padding: 0 6rem;

    h2 {}

    .inner {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 5rem;

        .dash_card {
            flex: 0 0 30%;
            padding: 1.5rem 2.5rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 1rem;
            background-color: #fff;
            cursor: pointer;

            &:hover{
                border: 1px solid #1686FC;
            }


            h6 {
                font-weight: bold;
                font-size: 1.8rem;
                line-height: 2.1rem;
                margin-bottom: 2rem;
            }

            p {
                color: grey;
                font-size: 1.6rem;
                line-height: 2.1rem;
            }
        }
    }
}